*{
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
}

#productos {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#listadoProductos{
  font-family: 'Oleo Script', cursive;
  font-size: 45px;
}

#listadoProductos.tituloproducto{
  font-size: 35px;
}

#tituloakela{
  font-family: 'Oleo Script', cursive;
  font-size: 45px;
}


html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;

}
h2{
  font-family: 'Ubuntu' , sans-serif;;
}

ul.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

div.jumbotron{
  padding: 1% 15% 15% 0%;
}

.jumbotron{
  margin-top: 120px ;
}

.img-circle{
  margin-left: 10px;
}

div.thumbnail {
  min-height: 310px;
}

div.small {
  background-color: #4bb1b1;
}


.alto-minimo{
  min-height: 633px;
}


header form.buscar input {
  float:left;
  display: block;
}

header form.buscar {
  position: relative;
}

header input.buscar {
  width: 68%;
  margin-right: 2%;
  margin-top: 10px;
}

header form.buscar {
  overflow: hidden;
}

header input.btn{
  margin-top: 10px;
}


body{
  margin-top: 20px;
  display: block;
  /* background-image: url("../images/wooden_background-1.jpg");*/
}

section#home.scroll-section{
  display: block;
}

.div {
  display: block;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


.home-inner {
  display: table;
  height: calc(100vh - 50px);
  padding-top: 80px;
  width: 100%;
}


/*#footer .block_various_links {
padding: 15px 10px;
margin-left: 224px;
}*/


#secciones {
    margin-top:100px;
    min-height:100%;
    /*margin-bottom: -150px;*/
}
con{
  background: grey;
}

*header .navbar{
  background: rgb(223, 205, 193);
}

footer{
  overflow: hidden;
  position: absolute;
  clear: both;
  width: 100%;
/*  background: rgb(230,0, 0);*/
  background: rgb(209, 8, 27);
  /*border-radius: 20px 20px 0 0;*/
  /*border: 2px solid black;*/
  height: 100px;
  /*display: flex;*/
  /*height: 100px;*/
  display: block;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.container{
  margin: 0 auto;
  margin-top: 15px;
}

div.container-fluid{
  padding-left: 0%;
  padding-right: 0%;

}

.container>.navbar-header{
  margin-bottom: 12px;
  vertical-align: middle;
}

ul#navbarItems.nav.navbar-nav.navbar-right{
  margin-top: 12px;
  vertical-align: middle;
}

footer li{
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

footer a {
  color: white;
  text-decoration: none;
  text-transform: capitalize; /*convierte a mayuscula la primer letra*/
}

@media (max-width: 1024px) {

  ul#navbarItems.nav.navbar-nav.navbar-right {
    margin-top: 2px;
    float: none !important;
  }
}

@media (max-width: 780px) {


  #tituloakela{
    font-size: 35px;
  }

  #listadoProductos{
    font-size: 35px;
  }

/*  ul#navbarItems.nav.navbar-nav.navbar-right{
    margin-top: 2px;
    float: none!important;
  }*/

  #listadoProductos.tituloproducto{
    font-size: 29px;
  }


  footer li {
    color: white;
    margin-right: -6px;
    margin-left: 14px;
    display: inline-block;
  }


}

@media (max-width: 430px) {

  #tituloakela{
   font-size: 25px;
  }

  #listadoProductos{
    font-size: 23px;
  }

  #listadoProductos.tituloproducto{
    font-size: 24px;
  }

  #nombreEnDetalle{
    font-size: 18px;
  }

  footer li {
    color: white;
    margin-right: -6px;
    margin-left: 14px;
    display: inline-block;
  }


  footer a {

    color: white;
    text-decoration: none;
    text-transform: capitalize; /*convierte a mayuscula la primer letra*/
  }

  div.thumbnail {
    min-height: 200px;
  }


}





